'use strict';
/** 
 * Simplify Framework - GraphQL {{GeneratorVersion}}
 * GitHub URL   : https://github.com/simplify-framework
 * ProjectName  : {{PROJECT_Name}}
 * ProjectId    : {{PROJECT_Id}}
 * License      : Apache-2.0 (Free)
 */
process.env.AWS_SDK_LOAD_CONFIG = process.env.AWS_SDK_LOAD_CONFIG || true
if (typeof __non_webpack_require__ === 'undefined') global.__non_webpack_require__ = require
const AWS = __non_webpack_require__('aws-sdk')

export class DataTable {
    constructor(options) {
        const { tableName, tableSchema, primaryKey, secondaryIndex } = options
        this.connector = new AWS.DynamoDB({ apiVersion: '2012-08-10' })
        this.tableSchema = tableSchema || {}
        this.tableName = [ tableName || 'Default', process.env.PROJECT_ID || '', process.env.ENVIRONMENT || '' ].filter(v => v !== '').join('-')
        this.tableType = tableName
        this.options = options
    }

    getDynamoDBAttrsFromItem(objItem) {
        let attrResult = {}
        function recursiveParseItem(objValue) {
            let attrItem = {}
            if (typeof objValue === 'string') attrItem['S'] = objValue
            else if (typeof objValue === 'number') attrItem['N'] = objValue + ""
            else if (typeof objValue === 'object' && objValue) {
                if (Array.isArray(objValue)) {
                    attrItem['L'] = objValue.map(li => recursiveParseItem(li))
                } else {
                    attrItem['M'] = {}
                    Object.keys(objValue).map(key => {
                        /* eslint-disable detect-object-injection */
                        attrItem['M'][key] = recursiveParseItem(objValue[key])
                    })
                }
            } else if (typeof objValue === 'boolean') {
                attrItem['BOOL'] = objValue
            } else if (typeof objValue === 'undefined') {
                /** 
                 * NULL if value is an undefined property or a future support type
                 * - Not supported type-1: attrItem['B'] = Buffer.from(objValue || '')
                 */
                attrItem['NULL'] = true
            } else {
                attrItem['NULL'] = true
            }
            return attrItem
        }
        Object.keys(objItem).map(key => {
            /* eslint-disable detect-object-injection */
            const objValue = objItem[key]
            attrResult[key] = recursiveParseItem(objValue)
        })
        return attrResult
    }

    getDynamoDBItemFromAttrs(attrItem) {
        let objItem = {}
        function recursiveParseAttrs(attrItem) {
            const attrValue = attrItem['S'] ? attrItem['S'] : (
                attrItem['N'] ? parseFloat(attrItem['N']) : (
                    typeof attrItem['BOOL'] !=='undefined' ? attrItem['BOOL'] : (
                        attrItem['SS'] ? attrItem['SS'] : (
                            attrItem['M'] ? function() {
                                let mResult = {}
                                Object.keys(attrItem['M']).map(key => {
                                    /* eslint-disable detect-object-injection */
                                    mResult[key] = recursiveParseAttrs(attrItem['M'][key])
                                })
                                return mResult
                             }() : (
                                attrItem['L'] ? attrItem['L'].map(li => {
                                    const liItem = recursiveParseAttrs(li)
                                    return liItem
                                }) : attrItem['NULL'] ? undefined : JSON.parse(attrItem)
                            )
                        )
                    )
                )
            )
            return attrValue
        }
        Object.keys(attrItem).map(key => {
            /* eslint-disable detect-object-injection */
            objItem[key] = recursiveParseAttrs(attrItem[key])
        })
        return objItem
    }

    createTable() {
        var params = {
            ...{
                AttributeDefinitions: [
                    { AttributeName: this.options.primaryKey, AttributeType: 'S' },
                    { AttributeName: this.options.secondaryIndex, AttributeType: 'S' }
                ],
                KeySchema: [{ AttributeName: this.options.primaryKey, KeyType: 'HASH' }],
                BillingMode: 'PAY_PER_REQUEST',
                TableName: this.tableName,
                GlobalSecondaryIndexes: [{
                    IndexName: 'owner-index',
                    KeySchema: [{ AttributeName: this.options.secondaryIndex, KeyType: 'HASH' }],
                    Projection: { ProjectionType: 'ALL' }
                }],
                StreamSpecification: {
                    StreamEnabled: true,
                    StreamViewType: 'NEW_AND_OLD_IMAGES'
                },
                SSESpecification: { Enabled: true, SSEType: 'KMS' }
            }, ...this.tableSchema
        }
        return new Promise((resolve, reject) => {
            this.connector.createTable(params, function (err, data) {
                err ? reject(err) : resolve(data)
            })
        })
    }

    putItem(objItem, options) {
        objItem["__typename"] = this.tableType
        const attrItem = this.getDynamoDBAttrsFromItem(objItem)
        let attributeValues = options.ExpressionAttributeValues
        attributeValues = attributeValues ? this.getDynamoDBAttrsFromItem(attributeValues) : undefined
        var params = {
            Item: attrItem,
            TableName: this.tableName,
            ConditionExpression: options.ConditionExpression || undefined,
            ExpressionAttributeNames: options.ExpressionAttributeNames || undefined,
            ExpressionAttributeValues: attributeValues ? Object.keys(attributeValues).length === 0 ? undefined : attributeValues : undefined,
            ConditionalOperator: options.ConditionalOperator || undefined,
            ReturnConsumedCapacity: 'INDEXES',
            ReturnValues: 'NONE'
        }
        return new Promise((resolve, reject) => {
            this.connector.putItem(params, function (err, data) {
                err ? reject(err) : resolve(data)
            })
        })
    }
    
    updateItem(objKeys, options) {
        const attrKeys = this.getDynamoDBAttrsFromItem(objKeys)
        let attributeValues = { ...options.ExpressionAttributeValues, ...options.UpdateExpressionAttributeValues }
        attributeValues = attributeValues ? this.getDynamoDBAttrsFromItem(attributeValues) : undefined
        const attributeNames = { ...(options.ExpressionAttributeNames || {}), ...(options.UpdateExpressionAttributeNames || {}) }
        var params = {
            Key: attrKeys,
            TableName: this.tableName,
            UpdateExpression: options.UpdateExpression,
            ConditionExpression: options.ConditionExpression || undefined,
            ExpressionAttributeNames: attributeNames ? Object.keys(attributeNames).length === 0 ? undefined : attributeNames : undefined,
            ExpressionAttributeValues: attributeValues ? Object.keys(attributeValues).length === 0 ? undefined : attributeValues : undefined,
            ConditionalOperator: options.ConditionalOperator || undefined,
            ReturnConsumedCapacity: 'INDEXES',
            ReturnItemCollectionMetrics: 'SIZE',
            ReturnValues: 'ALL_NEW'
        }
        const _thisObject = this
        return new Promise((resolve, reject) => {
            this.connector.updateItem(params, function (err, data) {
                err ? reject(err) : resolve(_thisObject.getDynamoDBItemFromAttrs(data.Attributes || {}))
            })
        })
    }

    getItem(attrKey, options) {
        const { consistentRead } = options || {}
        attrKey = this.getDynamoDBAttrsFromItem(attrKey)
        var params = {
            Key: attrKey,
            TableName: this.tableName,
            ConsistentRead: consistentRead || false,
            ReturnConsumedCapacity: 'INDEXES'
        }
        const _thisObject = this
        return new Promise((resolve, reject) => {
            this.connector.getItem(params, function (err, data) {
                err ? reject(err) : resolve(_thisObject.getDynamoDBItemFromAttrs(data.Item || {}))
            })
        })
    }

    query(attributeValues, options) {
        const { KeyConditionExpression, ExpressionAttributeNames, IndexName } = options || {}
        attributeValues = attributeValues ? this.getDynamoDBAttrsFromItem(attributeValues) : undefined
        var params = {
            TableName: this.tableName,
            ExpressionAttributeValues: attributeValues ? Object.keys(attributeValues).length === 0 ? undefined : attributeValues : undefined,
            IndexName: IndexName || undefined,
            KeyConditionExpression: KeyConditionExpression,
            ExpressionAttributeNames: ExpressionAttributeNames || undefined
        }
        const _thisObject = this
        return new Promise((resolve, reject) => {
            this.connector.query(params, function (err, data) {
                err ? reject(err) : resolve(data.Items.map(item => _thisObject.getDynamoDBItemFromAttrs(item)))
            })
        })
    }

    scan(attributeValues, options) {
        const { FilterExpression, ExpressionAttributeNames } = options || {}
        attributeValues = attributeValues ? this.getDynamoDBAttrsFromItem(attributeValues) : undefined
        var params = {
            TableName: this.tableName,
            FilterExpression: FilterExpression,
            ExpressionAttributeNames: ExpressionAttributeNames || undefined,
            ExpressionAttributeValues: attributeValues ? Object.keys(attributeValues).length === 0 ? undefined : attributeValues : undefined
        }
        const _thisObject = this
        return new Promise((resolve, reject) => {
            this.connector.scan(params, function (err, data) {
                err ? reject(err) : resolve(data.Items.map(item => _thisObject.getDynamoDBItemFromAttrs(item)))
            })
        })
    }
}
