{
  "name": "{{serverNameSnake}}-models",
  "version": "1.0.0",
  "description": "",
  "main": "dist/index.js",
  "dependencies": {
    "@babel/runtime": "^7.9.2",
    "uuid": "^7.0.3"
  },
  "devDependencies": {
    "@babel/cli": "^7.8.4",
    "@babel/polyfill": "^7.8.7",
    "@babel/preset-env": "^7.9.5",
    "@babel/register": "^7.9.0",
    "babel-minify": "^0.5.1",
    "babel-preset-minify": "^0.5.1",
    "uglifyjs-folder": "^1.5.4"
  },
  "eslintConfig": {
    "root": true
  },
  "scripts": {
    "minify": "node node_modules/uglifyjs-folder/cli.js js -eo dist",
    "compile": "node node_modules/@babel/cli/bin/babel.js src --out-dir dist --minified --no-comments",
    "build": "npm run compile && npm run minify",
    "test": "npm run build && node dist/index.js"
  },
  "author": "Dinh Cuong DUONG"
}
