{
  "name": "{{NameSnake}}-models",
  "version": "1.0.0",
  "description": "The {{Name}} DataSource models",
  "main": "dist/index.js",
  "dependencies": {
    "@babel/runtime": "^7.10.4",
{{#DataSources}}
    {{#isMongoDB}}
    "mongodb": "^3.5.9",
    {{/isMongoDB}}
    {{#isCassandra}}
    "cassandra-driver": "^4.5.2",
    {{/isCassandra}}
{{/DataSources}}
    "uuid": "^8.2.0"
  },
  "devDependencies": {
    "@babel/cli": "^7.13.16",
    "@babel/core": "^7.14.0",
    "@babel/node": "^7.13.13",
    "@babel/preset-env": "^7.14.0",
    "@babel/register": "^7.13.16",
    "babel-minify": "^0.5.1",
    "babel-preset-minify": "^0.5.1",
    "uglifyjs-folder": "^1.5.4"
  },
  "eslintConfig": {
    "root": true
  },
  "scripts": {
    "minify": "node node_modules/uglifyjs-folder/cli.js js -eo dist",
    "compile": "node node_modules/@babel/cli/bin/babel.js src --out-dir dist --minified --no-comments",
    "build": "npm run compile && npm run minify",
    "start": "npm run build && node dist/index.js"
  }
}
