{
    "Version": "2012-10-17",
    "Statement": [        
        {
            "Effect": "Deny",
            "Action": [
                "events:*"
            ],
            "Resource": [
                "arn:aws:lambda:{{ENV_Region}}:{{ENV_AccountId}}:function:{{PROJECT_Name}}{{ENV_NamePascal}}-{{Name}}LambdaFunction-*"
            ]
        }
    ]
}
