#!/bin/bash
echo " + Update Role Policy {{PROJECT_NamePascal}}{{ENV_NamePascal}}AccessRole..." && aws iam put-user-policy --user-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}User --policy-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}AccessRole --policy-document file://.simplify-graphql/${DEPLOYMENT_ENV}/policy-assume-role.json $@ >/dev/null
echo " + Update Role Policy {{PROJECT_NamePascal}}{{ENV_NamePascal}}DeploymentPolicy..." && aws iam put-role-policy --role-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}Role --policy-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}DeploymentPolicy --policy-document file://.simplify-graphql/${DEPLOYMENT_ENV}/policy-deployment.json $@ >/dev/null
echo " + Update Role Policy {{PROJECT_NamePascal}}{{ENV_NamePascal}}FunctionPolicy..." && aws iam put-role-policy --role-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}Role --policy-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}FunctionPolicy --policy-document file://.simplify-graphql/${DEPLOYMENT_ENV}/policy-functions.json $@ >/dev/null
echo " + Update Role Policy {{PROJECT_NamePascal}}{{ENV_NamePascal}}ExecutionPolicy..." && aws iam put-role-policy --role-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}Role --policy-name {{PROJECT_NamePascal}}{{ENV_NamePascal}}ExecutionPolicy --policy-document file://.simplify-graphql/${DEPLOYMENT_ENV}/policy-execute-api.json $@ >/dev/null