{
    "name": "{{ProjectNameSnake}}",
    "version": "{{ProjectVersion}}",
    "description": "{{{ProjectDesc}}}",
    "scripts": {
        "stack-deploy": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} node .simplify-graphql/deployment.js --input deployment-input.json",
        "stack-destroy": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} node .simplify-graphql/deployment.js --input deployment-input.json --deletion",
        "push-update": "bash .simplify-graphql/code-push.sh .env update",
        "push-code": "bash .simplify-graphql/code-push.sh .env push",
        "setup-env": "bash .simplify-graphql/{{DeploymentEnvSnake}}/aws-setup.sh",
        "cleanup-env": "bash .simplify-graphql/{{DeploymentEnvSnake}}/aws-cleanup.sh",
        "monitor-metric": "node node_modules/simplify-secops/entrypoint.js -p {{DeploymentProfile}} -i .simplify-graphql/{{DeploymentEnvSnake}}/functions.csv metric -h 24 -t 300",
        "security-check": "node node_modules/simplify-secops/entrypoint.js -p {{DeploymentProfile}} -i .simplify-graphql/{{DeploymentEnvSnake}}/functions.csv verify",
        "monitor-config": "node node_modules/simplify-secops/entrypoint.js -p {{DeploymentProfile}} -i .simplify-graphql/{{DeploymentEnvSnake}}/functions.csv verify -e",
        "security-patch": "node node_modules/simplify-secops/entrypoint.js -p {{DeploymentProfile}} -i .simplify-graphql/{{DeploymentEnvSnake}}/functions.csv patch",
        "take-snapshot": "node node_modules/simplify-secops/entrypoint.js -p {{DeploymentProfile}} -i .simplify-graphql/{{DeploymentEnvSnake}}/functions.csv snapshot"
    },
    "license": "MIT",
    "private": true,
    "devDependencies": {
        "simplify-sdk": "^0.1.25",
        "simplify-secops": "^0.1.5"
    }
}
