#!/bin/bash
# Simplify Automatic Deployment Script
# Project: {{ProjectNamePascal}}
# Deployment: {{ProjectName}}
# Region: {{DeploymentRegion}}
# Profile: {{DeploymentProfile}}
# Version: {{ProjectVersion}}
`grep -v '^#' .env | sed -E 's|^(.+)=(.*)$|export \1=\2|g'`

bash .simplify-graphql/${DEPLOYMENT_ENV}/aws-setup.sh $@
