{
    "name": "{{ProjectNameSnake}}",
    "version": "{{ProjectVersion}}",
    "description": "{{{ProjectDesc}}}",
    "scripts": {
        "stack-deploy": "node AWSDeploy/deployment.js --input deployment-input.json",
        "stack-destroy": "node AWSDeploy/deployment.js --input deployment-input.json --deletion",
        "push-update": "bash AWSDeploy/code-push.sh .env update",
        "push-code": "bash AWSDeploy/code-push.sh .env push"
    },
    "license": "MIT",
    "private": true,
    "devDependencies": {
        "simplify-sdk": "^0.1.11"
    }
}
