{
    "Profile": "{{DeploymentProfile}}",
    "Region": "{{DeploymentRegion}}",
    "Bucket": {
        "Name": "{{DeploymentBucket}}-{{ProjectId}}",
        "Key": "stacks/${DATE_TODAY}"
    },
    "OutputFile": "{{ProjectName}}-meta.json",
    "Deployment": {
        "Name": "{{ProjectName}}{{DeploymentName}}",
        "Definition": "deployment.yaml",
        "Authorizer": "{{AuthorizerId}}",
        "Servers": {
            {{#Servers}}
            "{{Name}}": {
                "FunctionInput": "../{{Name}}/.simplify-graphql/server-input.json",
                "CustomResourceArn": "NO",
                "ResourcePermission": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Servers}}
        },
        "Functions": {
            {{#Functions}}
            "{{FunctionNamePascal}}": {
                "FunctionInput": "../RemoteFunctions/{{FunctionName}}/.simplify-graphql/function-input.json",
                "CustomResourceArn": "NO",
                "ResourcePermission": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Functions}}
        }
    }
}