#!/bin/bash
# Simplify Automatic Deployment Script
# Project: {{ProjectNamePascal}}
# Deployment: {{ProjectName}}
# Region: {{DeploymentRegion}}
# Profile: {{DeploymentProfile}}
# Version: {{ProjectVersion}}
ENV_FILE=${1:-".env"}
CMD_OUTPUT=`grep -v '^#' ${ENV_FILE} | sed -E 's|^(.+)=(.*)$|export \1=\2|g'`

bash .simplify-graphql/${DEPLOYMENT_ENV}/aws-cleanup.sh $@
