{
    "Profile": "{{ENV_Profile}}",
    "Region": "{{ENV_Region}}",
    "AccountId": "{{ENV_AccountId}}",
    "Environment": "{{ENV_NameSnake}}",
    "Bucket": {
        "Name": "{{ENV_Bucket}}-{{PROJECT_Id}}-{{ENV_NameSnake}}",
        "Key": "stacks/${DATE_TODAY}"
    },
    "OutputFile": "{{ENV_NameSnake}}/{{PROJECT_Name}}-meta.json",
    "Deployment": {
        "Name": "{{PROJECT_Name}}{{ENV_NamePascal}}",
        "Definition": "deployment.yaml",
        "ApiAuthorizerId": "{{ENV_AuthorizerId}}",
        "Servers": {
            {{#Servers}}
            "{{Name}}": {
                "FunctionInput": "../{{Name}}/.simplify-graphql/{{ENV_NameSnake}}/server-input.json",
                "ManagedResourceArn": "NO",
                "SecretKeyVault": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Servers}}
        },
        "Functions": {
            {{#Functions}}
            "{{FunctionName}}": {
                "DependsOn": [{{#Servers}}"{{ServerName}}"{{#hasMore}}, {{/hasMore}}{{/Servers}}],
                "FunctionInput": "../Executions/{{FunctionName}}/.simplify-graphql/{{ENV_NameSnake}}/function-input.json",
                "ManagedResourceArn": "NO",
                "SecretKeyVault": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Functions}}
        }
    }
}