{
    "ProjectName": "{{PROJECT_Name}}",
    "Region": "${DEPLOYMENT_REGION}",
    "ProjectId": "${PROJECT_ID}",
    "AccountId": "${ACCOUNT_ID}",
    "Environment": "${DEPLOYMENT_ENV}",
    "Profile": "${PROFILE}",
    "Bucket": {
        "Name": "${DEPLOYMENT_BUCKET}-${PROJECT_ID}-${DEPLOYMENT_ENV}",
        "Key": "stacks/${DATE_TODAY}"
    },
    "OutputFile": "{{ENV_Name}}/{{PROJECT_Name}}-meta.json",
    "Deployment": {
        "Name": "{{PROJECT_Name}}-{{ENV_Name}}",
        "Definition": "deployment-stack.yaml",
        "ApiAuthorizerId": "{{ENV_AuthorizerId}}",
        "Servers": {
            {{#Servers}}
            "{{Name}}": {
                "FunctionInput": "../{{Name}}/.simplify-graphql/{{ENV_Name}}/server-input.json",
                "ManagedResourceArn": "NO",
                "SecretKeyVault": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Servers}}
        },
        "Functions": {
            {{#Functions}}
            "{{FunctionName}}": {
                "DependsOn": [{{#Servers}}"{{ServerName}}"{{#hasMore}}, {{/hasMore}}{{/Servers}}],
                "FunctionInput": "../Executions/{{FunctionName}}/.simplify-graphql/{{ENV_Name}}/function-input.json",
                "ManagedResourceArn": "NO",
                "SecretKeyVault": "NO"
            }{{#hasMore}}, {{/hasMore}}
            {{/Functions}}
        }
    }
}