#!/bin/bash
# Simplify Automatic Deployment Script
# Project: {{PROJECT_NamePascal}}
# Deployment: {{PROJECT_Name}}
# Region: {{ENV_Region}}
# Profile: {{ENV_Profile}}
# Version: {{PROJECT_Version}}
`grep -v '^#' .env | sed -E 's|^(.+)=(.*)$|export \1=\2|g'`

bash .simplify-graphql/${DEPLOYMENT_ENV}/aws-setup.sh $@
