'use strict';
/** 
 * Simplify Framework - GraphQL {{GeneratorVersion}}
 * GitHub URL   : https://github.com/simplify-framework
 * ProjectName  : {{ProjectNamePascal}}
 * ProjectId    : {{ProjectId}}
 * License      : Apache-2.0 (Free)
 */
module.exports.{{Name}} = (context)=> { return [ {{#Value}}"{{Value}}"{{#hasMore}},{{/hasMore}} {{/Value}} ] }
