'use strict';
{{#RemoteExecutionMode}}
const AWS = require('aws-sdk');
const lambda = new AWS.Lambda({ apiVersion: '2015-03-31' });
{{/RemoteExecutionMode}}

module.exports.handler = function(args, context, callback) {
    {{#RemoteExecutionMode}}
    var params = {
        FunctionName: "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:function:{{ProjectName}}-{{Run.Name}}LambdaFunction", 
        Payload: Buffer.from(JSON.stringify({ args, context }), "utf-8")
    };
    lambda.invoke(params, function(err, data) {
        callback(err, data)
    });
    {{/RemoteExecutionMode}}
    {{^RemoteExecutionMode}}
    callback(null, [{
        title: "First Book",
        author: {
            id: "1234567891",
            name: "Star",
            type: "JOURNALIST"
        }
    }, {
        title: "Second Book",
        author: {
            id: "1234567890",
            name: "War",
            type: "SCIENTIST"
        }
    }])
    {{/RemoteExecutionMode}}
}
