'use strict';
/** 
 * Simplify Framework - GraphQL {{GeneratorVersion}}
 * GitHub URL   : https://github.com/simplify-framework
 * ProjectName  : {{ProjectNamePascal}}
 * ProjectId    : {{ProjectId}}
 * License      : Apache-2.0 (Free)
 */
const awsServerlessExpress = require('aws-serverless-express');
const server = awsServerlessExpress.createServer(require('./app'));

exports.handler = (event, context, callback) => {
    console.log(`EVENT: ${JSON.stringify(event)}`);
    event.path = event.resource = '/graphql';
    awsServerlessExpress.proxy(server, event, context);
};
