'use strict';
/** 
 * Simplify Framework - GraphQL {{GeneratorVersion}}
 * GitHub URL   : https://github.com/simplify-framework
 * ProjectName  : {{ProjectNamePascal}}
 * ProjectId    : {{ProjectId}}
 * License      : Apache-2.0 (Free)
 */
const {{ProjectName}} = require('debug')('{{ProjectName}}')

exports.info = {{ProjectName}}.extend('INFO')
exports.warn = {{ProjectName}}.extend('WARNING')
exports.error = {{ProjectName}}.extend('ERROR')
exports.debug = {{ProjectName}}.extend('DEBUG')

require('debug').enable(process.env.DEBUG || '{{ProjectName}}:INFO,{{ProjectName}}:WARNING,{{ProjectName}}:ERROR')