server {
    listen       8080;
    server_name  localhost;
    server_name_in_redirect off;
    set $force_trailing_slash -1;

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    {{#Servers}}
    location /{{NameSnake}} {
        if ($request_method !~ ^(GET)$){ return 404; }
        proxy_pass http://{{NameSnake}}:4000/;
        rewrite ^/(.*)$ /graphql break;
    }
    {{#Definitions}}
    {{#Paths}}
    location {{Path}} {
        if ($request_method !~ ^(POST)$){ return 404; }
        proxy_pass http://{{NameSnake}}:4000/;
        rewrite ^/(.*)$ /graphql break;
    }
    {{/Paths}}
    {{/Definitions}}
    {{/Servers}}

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}