{
  "name": "{{NameSnake}}",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "push-update": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} node .simplify-graphql/function-push.js --ops update --input server-input.json",
    "push-code": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} env FUNCTION_SOURCE=../src node .simplify-graphql/function-push.js --input server-input.json",
    "build-code": "echo 'This source is the native Javascript code. No need to compile!'",
    "push-bin": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} env FUNCTION_SOURCE=../build node .simplify-graphql/function-push.js --input server-input.json",
    "build-bin": "webpack -p --config webpack.config.js && cp src/schema.graphql build/schema.graphql",
    "push-layer": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} env LAYER_SOURCE=../layer node .simplify-graphql/layer-push.js --input server-input.json",
    "build-layer": "webpack -p --config webpack.config.layer.js",
    "push-deps": "env DEPLOYMENT_ENV={{DeploymentEnvSnake}} env LAYER_SOURCE=../deps env DEPENDENCIES_PACKAGE={{ProjectName}}{{DeploymentEnvPascal}}-{{Name}}-deps node .simplify-graphql/layer-push.js --input server-input.json",
    "build-deps": "webpack -p --config webpack.config.deps.js && cd deps/nodejs/node_modules/{{NameSnake}}-deps && npm link",
    "start": "npm run build-deps && cd src/ && npm install && npm link {{NameSnake}}-deps && env LOCAL_DEBUG=YES DEPLOYMENT_STAGE=latest node app.js",
    "code-scan": "bash sonarqube-scanner.sh"
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "dependencies": {
    "apollo-server-express": "^2.14.1",
    "aws-serverless-express": "^3.3.8",
    "validator": "^13.1.1",
    "graphql": "^15.0.0",
    "express": "^4.17.1"
  },
  "devDependencies": {
    "@babel/cli": "^7.8.4",
    "@babel/core": "^7.9.6",
    "@babel/node": "^7.7.4",
    "@babel/preset-env": "^7.9.6",
    "@babel/register": "^7.9.0",
    "@babel/plugin-transform-runtime": "^7.10.1",
    "license-checker-webpack-plugin": "0.1.5",
    "babel-loader": "^8.1.0",
    "file-loader": "^6.0.0",
    "webpack": "^4.43.0",
    "webpack-cli": "^3.3.11",
    "webpack-node-externals": "^1.7.2",
    "simplify-sdk": "^0.1.24"
  }
}
