{
  "name": "{{NameSnake}}-deps",
  "version": "{{#Version}}{{Version}}{{/Version}}{{^Version}}0.1.0{{/Version}}",
  "description": "Simplify graphql-serverless architecture model (GSAM) dependancies",
  "main": "index.js",
  "keywords": [
    "graphql",
    "express",
    "apollo",
    "server"
  ],
  "license": "MIT"
}
