{
  "name": "{{NameSnake}}",
  "version": "{{#Version}}{{Version}}{{/Version}}{{^Version}}0.1.0{{/Version}}",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "code-scan": "bash sonarqube-scanner.sh"
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "dependencies": {
    "uuid": "^8.1.0"
  }
}
