{
  "name": "{{NameSnake}}",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "code-scan": "bash sonarqube-scanner.sh"
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "dependencies": {
    "apollo-server-express": "^2.14.1",
    "aws-serverless-express": "^3.3.8",
    "simplify-sdk": "^0.1.13",
    "graphql": "^15.0.0",
    "uuid": "^8.1.0"
  }
}
