{
  "name": "{{NameSnake}}",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "code-scan": "bash sonarqube-scanner.sh"
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "dependencies": {
    "uuid": "^8.1.0"
  }
}
