{
  "name": "{{NameSnake}}-deps",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM) dependancies",
  "main": "index.js",
  "keywords": [
    "graphql",
    "express",
    "apollo",
    "server"
  ]
}
