{
  "name": "{{NameSnake}}",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "build-code": "rm -rf ./src/node_modules",
    "build-models": "cd models/ && npm install && npm run build",
    "push-code": "env DEPLOYMENT_ENV={{ENV_NameSnake}} env FUNCTION_SOURCE=../src node .simplify-graphql/function-push.js --input server-input.json",
    "push-config": "env DEPLOYMENT_ENV={{ENV_NameSnake}} node .simplify-graphql/function-push.js --ops update --input server-input.json",
    "build-bin": "webpack -p --config webpack.config.js && cp src/schema.graphql build/schema.graphql",
    "push-bin": "env DEPLOYMENT_ENV={{ENV_NameSnake}} env FUNCTION_SOURCE=../build node .simplify-graphql/function-push.js --input server-input.json",
    "build-layer": "webpack -p --config webpack.config.layer.js",
    "push-layer": "env DEPLOYMENT_ENV={{ENV_NameSnake}} env LAYER_SOURCE=../layer node .simplify-graphql/layer-push.js --input server-input.json",
    "build-deps": "npm run build-models && webpack -p --config webpack.config.deps.js && cd deps/nodejs/node_modules/{{NameSnake}}-deps && npm link",
    "push-deps": "env DEPLOYMENT_ENV={{ENV_NameSnake}} env LAYER_SOURCE=../deps env DEPENDENCIES_PACKAGE={{PROJECT_Name}}{{ENV_NamePascal}}-{{Name}}-deps node .simplify-graphql/layer-push.js --input server-input.json",
    "start": "cd src/ && npm install && npm link {{NameSnake}}-deps && env LOCAL_DEBUG=YES DEPLOYMENT_STAGE=latest AWS_XRAY_CONTEXT_MISSING=LOG_ERROR node app.js",
    "code-scan": "bash sonarqube-scanner.sh",
    "test": "nyc --reporter=text mocha --require @babel/register --timeout 60000 \"./tests/samples/*.spec.js*\""
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "nyc": {
    "exclude": [
      "**/*.spec.js",
      "**/*.env.js"
    ]
  },
  "dependencies": {
    "apollo-server-express": "^2.15.1",
    "aws-serverless-express": "^3.3.8",
    "validator": "^13.1.1",
    "graphql": "^15.3.0",
    "express": "^4.17.1"
  },
  "devDependencies": {
    "@babel/cli": "^7.10.4",
    "@babel/core": "^7.10.4",
    "@babel/node": "^7.10.4",
    "@babel/preset-env": "^7.10.4",
    "@babel/register": "^7.10.4",
    "@babel/plugin-transform-runtime": "^7.10.4",
    "license-checker-webpack-plugin": "^0.1.5",
    "babel-loader": "^8.1.0",
    "file-loader": "^6.0.0",
    "webpack": "^4.43.0",
    "webpack-cli": "^3.3.12",
    "webpack-node-externals": "^2.3.0",
    "simplify-sdk": "^0.1.28",
    "mocha": "^8.0.1",
    "nyc": "^15.1.0",
    "chai": "^4.2.0",
    "chai-as-promised": "^7.1.1"
  }
}
