{
  "name": "{{NameSnake}}",
  "version": "0.1.0",
  "description": "Simplify graphql-serverless architecture model (GSAM)",
  "main": "app.js",
  "scripts": {
    "deploy": "node -r dotenv/config .simplify-graphql/function-resource.js --input server-input.json",
    "destroy": "node -r dotenv/config .simplify-graphql/function-resource.js --input server-input.json --deletion",    
    "build-code": "npm run build-deps && cd src/ && npm link {{NameSnake}}-deps && rm -rf node_modules",
    "build-models": "cd models/ && npm install && npm run build",
    "push-code": "env FUNCTION_SOURCE=../src node -r dotenv/config .simplify-graphql/function-push.js --input server-input.json",
    "push-config": "node -r dotenv/config .simplify-graphql/function-push.js --ops update --input server-input.json",
    "build-bin": "webpack -p --config webpack.config.js && cp src/schema.graphql build/schema.graphql",
    "push-bin": "env FUNCTION_SOURCE=../build node -r dotenv/config .simplify-graphql/function-push.js --input server-input.json",
    "build-layer": "npm run build-deps && cd src/ && npm link {{NameSnake}}-deps && cd ../ && webpack -p --config webpack.config.layer.js && cd deps/nodejs/node_modules/{{NameSnake}}-functions && npm link",
    "push-layer": "env LAYER_SOURCE=../deps LAYER_NAME={{PROJECT_Name}}-{{ENV_Name}}-{{Name}}-functions node -r dotenv/config .simplify-graphql/layer-push.js --input server-input.json",
    "build-deps": "npm run build-models && webpack -p --config webpack.config.deps.js && cd deps/nodejs/node_modules/{{NameSnake}}-deps && npm link",
    "push-deps": "env LAYER_SOURCE=../deps LAYER_NAME={{PROJECT_Name}}-{{ENV_Name}}-{{Name}}-deps node -r dotenv/config .simplify-graphql/layer-push.js --input server-input.json",
    "start": "cd src/ && npm install && npm link {{NameSnake}}-deps && env INTROSPECTION=YES LOCAL_SERVER=YES AWS_XRAY_CONTEXT_MISSING=LOG_ERROR node -r dotenv/config app.js dotenv_config_path=../.env",
    "code-scan": "bash sonarqube-scanner.sh",
    "test": "nyc --reporter=text mocha --require @babel/register --timeout 60000 \"./tests/*.spec.js*\""
  },
  "keywords": [
    "graphql",
    "lambda",
    "faas",
    "aws"
  ],
  "nyc": {
    "exclude": [
      "**/*.spec.js",
      "**/*.env.js"
    ]
  },
  "dependencies": {
    "apollo-server-express": "^2.15.1",
    "aws-serverless-express": "^3.3.8",
    "validator": "^13.1.1",
    "graphql": "^15.3.0",
    "express": "^4.17.1"
  },
  "devDependencies": {
    "@babel/cli": "^7.10.4",
    "@babel/core": "^7.10.4",
    "@babel/node": "^7.10.4",
    "@babel/preset-env": "^7.10.4",
    "@babel/register": "^7.10.4",
    "@babel/plugin-transform-runtime": "^7.10.4",
    "license-checker-webpack-plugin": "^0.1.5",
    "babel-loader": "^8.1.0",
    "file-loader": "^6.0.0",
    "webpack": "^4.43.0",
    "webpack-cli": "^3.3.12",
    "webpack-node-externals": "^2.3.0",
    "simplify-sdk": "^0.1.49",
    "mocha": "^8.0.1",
    "nyc": "^15.1.0",
    "chai": "^4.2.0",
    "dotenv": "8.2.0",
    "chai-as-promised": "^7.1.1"
  }
}
