{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "sts:AssumeRole",
                "sts:TagSession"
            ],
            "Resource": "arn:aws:iam::{{ENV_AccountId}}:role/{{PROJECT_NamePascal}}{{ENV_NamePascal}}Role",
            "Effect": "Allow"
        }
    ]
}