{
    "Version": "2012-10-17",
    "Statement": [        
        {
            "Sid": "{{ProjectNamePascal}}FunctionRolePolicy",
            "Effect": "Allow",
            "Action": [
                "iam:*Role",
                "iam:*RolePolicy",
                "iam:*PolicyVersions",
                "secretsmanager:*",
                "cloudwatch:GetMetricData",
                "iam:*Policy",
                "logs:*",
                "events:*",
                "lambda:*"
            ],
            "Resource": [
                "arn:aws:secretsmanager:{{DeploymentRegion}}:{{DeploymentAccount}}:secret:{{ProjectName}}{{DeploymentEnvPascal}}-*Secret-*",
                "arn:aws:events:{{DeploymentRegion}}:{{DeploymentAccount}}:rule/{{ProjectName}}{{DeploymentEnvPascal}}-*Schedule*-*",
                "arn:aws:iam::{{DeploymentAccount}}:role/{{ProjectName}}{{DeploymentEnvPascal}}-*Lambda*-*",
                "arn:aws:iam::{{DeploymentAccount}}:policy/{{ProjectName}}{{DeploymentEnvPascal}}-*Lambda*-*",
                "arn:aws:logs:{{DeploymentRegion}}:{{DeploymentAccount}}:log-group:/aws/lambda/{{ProjectName}}{{DeploymentEnvPascal}}-*Lambda*-*:log-stream:*",
                "arn:aws:logs:{{DeploymentRegion}}:{{DeploymentAccount}}:log-group:/aws/lambda/{{ProjectName}}{{DeploymentEnvPascal}}-*Lambda*-*",
                "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:function:{{ProjectName}}{{DeploymentEnvPascal}}-*Lambda*-*",
                "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:layer:{{ProjectName}}{{DeploymentEnvPascal}}-*-*:*",
                "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:layer:{{ProjectName}}{{DeploymentEnvPascal}}-*-*",
                "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:layer:{{ProjectName}}{{DeploymentEnvPascal}}-*:*",
                "arn:aws:lambda:{{DeploymentRegion}}:{{DeploymentAccount}}:layer:{{ProjectName}}{{DeploymentEnvPascal}}-*"
            ]
        }
    ]
}
