{
    "Version": "2012-10-17",
    "Statement": [
        {{#Servers}}
        {
            "Sid": "APiGatewayExecution{{NamePascal}}",
            "Effect": "Allow",
            "Action": [
                "execute-api:Invoke"
            ],
            "Resource": [
                {{#Definitions}}
                {{#Paths}}
                "arn:aws:execute-api:{{ENV_Region}}:{{ENV_AccountId}}:*/{{ENV_Name}}/POST{{Path}}",
                "arn:aws:execute-api:{{ENV_Region}}:{{ENV_AccountId}}:*/{{ENV_Name}}/POST{{Path}}/*"{{#hasMore}},{{/hasMore}}
                {{/Paths}}
                {{#hasMore}},{{/hasMore}}
                {{/Definitions}}
            ]
        }{{#hasMore}},{{/hasMore}}
        {{/Servers}}
    ]
}