{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "{{PROJECT_NamePascal}}UserAssumeRole",
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Principal": {
                "AWS": "arn:aws:iam::{{ENV_AccountId}}:user/{{PROJECT_NamePascal}}{{ENV_NamePascal}}User"
            },
            "Condition": {
                "StringEquals": {
                    "sts:ExternalId": "{{PROJECT_NamePascal}}{{ENV_NamePascal}}-{{PROJECT_Id}}"
                }
            }
        },
        {
            "Sid": "{{PROJECT_NamePascal}}SessionTags",
            "Effect": "Allow",
            "Action": "sts:TagSession",
            "Principal": {
                "AWS": "arn:aws:iam::{{ENV_AccountId}}:user/{{PROJECT_NamePascal}}{{ENV_NamePascal}}User"
            }
        }
    ]
}