{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "{{ProjectNamePascal}}UserAssumeRole",
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Principal": {
                "AWS": "arn:aws:iam::{{DeploymentAccount}}:user/{{ProjectNamePascal}}{{DeploymentEnvPascal}}User"
            },
            "Condition": {
                "StringEquals": {
                    "sts:ExternalId": "{{ProjectNamePascal}}{{DeploymentEnvPascal}}-{{ProjectId}}"
                }
            }
        },
        {
            "Sid": "{{ProjectNamePascal}}SessionTags",
            "Effect": "Allow",
            "Action": "sts:TagSession",
            "Principal": {
                "AWS": "arn:aws:iam::{{DeploymentAccount}}:user/{{ProjectNamePascal}}{{DeploymentEnvPascal}}User"
            }
        }
    ]
}