ENVIRONMENT={{ENV_Name}}
PROJECT_ID={{PROJECT_Id}}
ACCOUNT_ID={{ENV_AccountId}}
PROFILE={{ENV_Profile}}
REGION={{ENV_Region}}
INTROSPECTION=YES
MONOLITHIC_CODE=NO
DEPLOYMENT_REGION={{ENV_Region}}
DEPLOYMENT_BUCKET={{ENV_Bucket}}
DEPLOYMENT_ENV={{ENV_Name}}
DEPLOYMENT_STAGE=latest
ENFORCEMENT_PACKAGE=
DEPENDENCIES_PACKAGE={{PROJECT_Name}}-{{ENV_Name}}-{{Name}}-deps
