{
    "Profile": "${PROFILE}",
    "Region": "${DEPLOYMENT_REGION}",
    "ProjectId": "${PROJECT_ID}",
    "AccountId": "${ACCOUNT_ID}",
    "Environment": "${DEPLOYMENT_ENV}",
    "Bucket": {
        "Name": "${DEPLOYMENT_BUCKET}-${PROJECT_ID}-${DEPLOYMENT_ENV}",
        "Key": "servers/${DATE_TODAY}"
    },
    "OutputFile": "{{ENV_Name}}/{{NamePascal}}-meta.json",
    "LayerConfig": {
        "CompatibleRuntimes": [
            "{{Runtime}}"
        ],
        "LayerName": "{{PROJECT_Name}}-${DEPLOYMENT_ENV}-{{Name}}"
    },
    "Function": {
        "FunctionName": "{{Name}}",
        "Handler": "index.handler",
        "MemorySize": 128,
        "Publish": true,
        "Role": "${Function{{NamePascal}}RoleArn}",
        "Runtime": "{{Runtime}}",
        "Tags": {
            "GroupName": "{{PROJECT_NamePascal}}-${DEPLOYMENT_ENV}"
        },
        "Timeout": 15,
        "TracingConfig": {
            "Mode": "PassThrough"
        },
        "Environment": {
            "Variables": {
                "DEPLOYMENT_STAGE": "${DEPLOYMENT_STAGE}",
                "ENFORCEMENT_PACKAGE": "${ENFORCEMENT_PACKAGE}",
                "ENVIRONMENT": "${DEPLOYMENT_ENV}",
                "PROJECT_ID": "${PROJECT_ID}",
                "REGION": "${DEPLOYMENT_REGION}",
                "INTROSPECTION": "${INTROSPECTION}",
                "MONOLITHIC_CODE": "${MONOLITHIC_CODE}"
            }
        }
    }
}