INTROSPECTION=YES
MONOLITHIC_CODE=NO
ENFORCEMENT_PACKAGE=
DEPENDENCIES_PACKAGE={{PROJECT_Name}}-{{ENV_Name}}-{{Name}}-deps
### - Backend Serverless Lambda
FUNCTION_NAME={{PROJECT_Name}}-{{Name}}
FUNCTION_RUNTIME=nodejs12.x
FUNCTION_HANDLER=index.handler
FUNCTION_SOURCE=src
