{
    "Profile": "{{DeploymentProfile}}",
    "Region": "{{DeploymentRegion}}",
    "ProjectId": "{{ProjectId}}",
    "AccountId": "{{DeploymentAccount}}",
    "Environment": "{{DeploymentEnvSnake}}",
    "Bucket": {
        "Name": "{{DeploymentBucket}}-{{ProjectId}}-{{DeploymentEnvSnake}}",
        "Key": "servers/${DATE_TODAY}"
    },
    "OutputFile": "{{DeploymentEnvSnake}}/{{NamePascal}}-meta.json",
    "LayerConfig": {
        "CompatibleRuntimes": [
            "{{Runtime}}"
        ],
        "LayerName": "{{ProjectName}}{{DeploymentEnvPascal}}-{{Name}}"
    },
    "Function": {
        "FunctionName": "{{Name}}",
        "Handler": "index.handler",
        "MemorySize": 128,
        "Publish": true,
        "Role": "${Function{{NamePascal}}RoleArn}",
        "Runtime": "{{Runtime}}",
        "Tags": {
            "GroupName": "{{ProjectNamePascal}}{{DeploymentEnvPascal}}"
        },
        "Timeout": 15,
        "TracingConfig": {
            "Mode": "PassThrough"
        },
        "Environment": {
            "Variables": {
                "DEPLOYMENT_STAGE": "${DEPLOYMENT_STAGE}",
                "ENFORCEMENT_PACKAGE": "${ENFORCEMENT_PACKAGE}",
                "ENVIRONMENT": "${DEPLOYMENT_ENV}",
                "PROJECT_ID": "{{ProjectId}}"
            }
        }
    }
}