{
    "Profile": "{{ENV_Profile}}",
    "Region": "{{ENV_Region}}",
    "ProjectId": "{{PROJECT_Id}}",
    "AccountId": "{{ENV_AccountId}}",
    "Environment": "{{ENV_NameSnake}}",
    "Bucket": {
        "Name": "{{ENV_Bucket}}-{{PROJECT_Id}}-{{ENV_NameSnake}}",
        "Key": "servers/${DATE_TODAY}"
    },
    "OutputFile": "{{ENV_NameSnake}}/{{NamePascal}}-meta.json",
    "LayerConfig": {
        "CompatibleRuntimes": [
            "{{Runtime}}"
        ],
        "LayerName": "{{PROJECT_Name}}{{ENV_NamePascal}}-{{Name}}"
    },
    "Function": {
        "FunctionName": "{{Name}}",
        "Handler": "index.handler",
        "MemorySize": 128,
        "Publish": true,
        "Role": "${Function{{NamePascal}}RoleArn}",
        "Runtime": "{{Runtime}}",
        "Tags": {
            "GroupName": "{{PROJECT_NamePascal}}{{ENV_NamePascal}}"
        },
        "Timeout": 15,
        "TracingConfig": {
            "Mode": "PassThrough"
        },
        "Environment": {
            "Variables": {
                "DEPLOYMENT_STAGE": "${DEPLOYMENT_STAGE}",
                "ENFORCEMENT_PACKAGE": "${ENFORCEMENT_PACKAGE}",
                "ENVIRONMENT": "${DEPLOYMENT_ENV}",
                "PROJECT_ID": "{{PROJECT_Id}}"
            }
        }
    }
}