'use strict';
const path = require('path')
const { StateExecution } = require('simplify-sdk/graphql')
const { {{DataSchema}} } = require('../Schemas/Models/{{DataSchema}}')
const executionPath = path.join(__dirname, "../Functions")

module.exports.{{Name}} = (parent, args, context, info) => new StateExecution({ executionPath, verbosity: true }).execute([
    {{#Chains}}
    { Run: {{#Run}}"{{Name}}"{{/Run}}, Next: "{{Next}}", Other: "{{Other}}"{{#Retry}}, Retry: {{Retry}}{{/Retry}} }{{#hasMore}},{{/hasMore}}
    {{/Chains}}
    {{^Chains}}
    { Run: "{{Name}}", Next: "DONE", Other: "DONE" }
    {{/Chains}}
], { parent, args, context, info }, "{{DataType}}", {{DataSchema}})
