### Verbal Architecture Design - GSAM ###
### Copyright@2020 Simplify Framework ###

{{#Servers}}
* @{{{Kind}}} Name={{Name}} run on {{Engine}}
    {{#Definitions}}
    FOR EVERY ({{Definition}})
        {{#Paths}}
        POST {{Path}} {{#Options}}using {{AuthMode}} authorization with ApiKey={{ApiKey}}{{/Options}}
        {{#Resolvers}}
            {{OperationId}} [{{#Parameters}}{{Name}}={{Kind}}{{#hasMore}}, {{/hasMore}}{{/Parameters}}] => {{DataType}}({{DataModel}}) will execute {{#Resolver}}@{{Kind}}={{Name}}{{/Resolver}}
            {{#Resolver}}
                {{#Chains}}
                    {{#Run}}{{ResolverType}}={{Name}}{{/Run}}() onSuccess={{Next}}() onFailure={{Other}}() RetryOnFailure={{Retry}}
                {{/Chains}}
            {{/Resolver}}
        {{/Resolvers}}
        {{/Paths}}
        {{#DataTables}}
        * {{Name}}Table HAS KEY={{Key}} AND INDEX={{Index}}
        {{/DataTables}}
        {{#KeySpaces}}
        * {{Name}}Space HAS KEY={{Key}} AND INDEX={{Index}}
        {{/KeySpaces}}
        {{#Documents}}
        * {{Name}}Document HAS KEY={{Key}} AND INDEX={{Index}}
        {{/Documents}}
    {{/Definitions}}
    
    {{#hasMore}}{{/hasMore}}
{{/Servers}}

{{#Events}}
* Will execute Function={{Function}} on {{{Type}}}={{Name}}({{Value}}) => accessible to [{{Definition}}] with Access={{Access}}
{{/Events}}

{{#DataSources}}
{{^isEmpty}}
* [{{Definition}}] connects to DataSource={{{Engine}}} @alias={{Name}} has Tables={{#Tables}}{{Name}}[:{{Key}} #{{Index}}]{{#hasMore}},{{/hasMore}}{{/Tables}}
{{/isEmpty}}
{{/DataSources}}

{{#DataInputs}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{/DataInputs}}

{{#EnumObjects}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{/EnumObjects}}

{{#DataObjects}}
{{#UserType}}
* [{{Type}}] {{Name}} { {{#Value}}{{Name}}={{Value}}{{#hasMore}},{{/hasMore}} {{/Value}} }
{{/UserType}}
{{^UserType}}
- [{{Type}}] {{Name}} { {{#Value}}{{Name}} (...) {{/Value}} }
{{/UserType}}
{{/DataObjects}}