'use strict';

process.env.DEPLOYMENT_STAGE = 'canary'

require('./handler').handler({
    'x-canary-selection': 'latest',
    args: {
        title: "Fox in Socks",
        author: {
            name: "Dr. Seuss"
        }
    },
    dataType: "ListType",
    dataContext: {}
}, {
    requestContext: null
}, (err, data) => console.log(err, data))