'use strict';
/**
 * If compiled, use __non_webpack_require__ when require('a-package') that is underlying &
 * pre-installed in your runtime library such as 'aws-sdk' or in node_modules layers
 **/
const enforcementPackage = process.env.ENFORCEMENT_PACKAGE || '{{FunctionNameSnake}}'
const allowedCanaries = [ "latest", "stable", "enforce" ]
const getPackage = function(canary) {
    let runtimePackage = undefined
    if (canary === 'stable') runtimePackage = require('{{FunctionNameSnake}}')
    else if (canary === 'enforce') runtimePackage = require(`${enforcementPackage}`)
    else runtimePackage = require('./{{FunctionName}}')
    return runtimePackage
}
var {{FunctionName}} = getPackage(process.env.DEPLOYMENT_STAGE || 'latest')

module.exports.handler = (event, context, callback) => {
    if (allowedCanaries.indexOf((event || {})['x-canary-selection']) >=0 && process.env.DEPLOYMENT_STAGE === 'canary') {
        {{FunctionName}} = getPackage(`${(event || {})['x-canary-selection']}`)
    }
    {{FunctionName}}.handler(event.args, event.context, callback)
};