'use strict';
/**
 * If compiled, use __non_webpack_require__ when require('a-package') that is underlying &
 * pre-installed in your runtime library such as 'aws-sdk' or in node_modules layers
 **/
const debug = require('{{FunctionNameSnake}}-deps')['debug']

module.exports.handler = (event, context, callback) => {
    const {{Name}}Result = {
{{#DataValues}}
        {{Name}}: {{#Value}}{{#isListType}}[ {{#isListStringType}}{{#Default}}"{{Value}}"{{#hasMore}}, {{/hasMore}}{{/Default}}{{/isListStringType}}{{^isListStringType}}{{^isNestedObject}}"{{{Default}}}"{{/isNestedObject}}{{/isListStringType}} ]{{/isListType}}{{^isListType}}{{#isObjectType}}{{#isNestedObject}}{ {{#Default}}{{Name}}: {{#Value}}{{#isScalarType}}"{{Default}}"{{/isScalarType}}{{^isScalarType}}{{#isEnumObject}}"{{Default}}"{{/isEnumObject}}{{^isEnumObject}}{ {{#Default}}{{Name}}: {{#Value}}"{{Default}}"{{/Value}}{{#hasMore}}, {{/hasMore}}{{/Default}} }{{/isEnumObject}}{{/isScalarType}}{{/Value}}{{#hasMore}}, {{/hasMore}}{{/Default}} }{{/isNestedObject}}{{/isObjectType}}{{^isObjectType}}{{#isBoolType}}{{Default}}{{/isBoolType}}{{^isBoolType}}"{{Default}}"{{/isBoolType}}{{/isObjectType}}{{/isListType}}{{/Value}}{{#hasMore}},{{/hasMore}}
{{/DataValues}}
    }
    callback(null, {{#isResultListType}}[ {{Name}}Result ].filter(obj => Object.keys(obj).length){{/isResultListType}}{{^isResultListType}}{{Name}}Result{{/isResultListType}})
};