{
  "name": "{{FunctionNameSnake}}-deps",
  "version": "0.1.0",
  "description": "Simplify serverless function dependancies",
  "main": "index.js",
  "keywords": [
    "function",
    "lambda",
    "nodejs"
  ]
}
