{
    "name": "{{FunctionNameSnake}}",
    "version": "{{#Version}}{{Version}}{{/Version}}{{^Version}}0.1.0{{/Version}}",
    "description": "Remote Function Execution For {{#Servers}}{{ServerName}}{{#hasMore}}, {{/hasMore}}{{/Servers}}",
    "main": "app.js",
    "scripts": {
        "start": "node index.js"
    },
    "license": "MIT",
    "private": true,
    "dependencies": {
        "debug": "^4.1.1"
    }
}
