{
  "name": "{{FunctionNameSnake}}-deps",
  "version": "{{#Version}}{{Version}}{{/Version}}{{^Version}}0.1.0{{/Version}}",
  "description": "Simplify serverless function dependancies",
  "main": "index.js",
  "keywords": [
    "function",
    "lambda",
    "nodejs"
  ],
  "license": "MIT"
}
