{
    "name": "{{FunctionNameSnake}}",
    "version": "0.1.0",
    "description": "Remote Function Execution For {{#Servers}}{{ServerName}}{{#hasMore}}, {{/hasMore}}{{/Servers}}",
    "main": "app.js",
    "scripts": {
        "deploy": "node -r dotenv/config .simplify-graphql/function-resource.js --input function-input.json",
        "destroy": "node -r dotenv/config .simplify-graphql/function-resource.js --input function-input.json --deletion",
        "push-config": "node -r dotenv/config .simplify-graphql/function-push.js --ops update",
        "push-code": "env FUNCTION_SOURCE=../src node -r dotenv/config .simplify-graphql/function-push.js",
        "build-code": "npm run build-deps && cd src/ && npm link {{NameSnake}}-deps && rm -rf node_modules",
        "build-code-minify": "webpack -p --config webpack.config.js",
        "push-layer": "env LAYER_SOURCE=../layer node -r dotenv/config .simplify-graphql/layer-push.js",
        "build-layer": "npm run build-deps && cd src/ && npm link {{NameSnake}}-deps && cd ../ && webpack -p --config webpack.config.layer.js",
        "push-deps": "echo '* Use this command to deploy with deps layer!' && echo 'env LAYER_SOURCE=../deps node -r dotenv/config .simplify-graphql/layer-push.js'",
        "build-deps": "webpack -p --config webpack.config.deps.js && cd deps/nodejs/node_modules/{{FunctionNameSnake}}-deps && npm link",
        "production": "webpack -p && env LOCAL_SERVER= node build/index.js",
        "development": "webpack --mode development && env LOCAL_SERVER=YES node -r dotenv/config build/index.js",
        "start": "cd src && npm install && npm link {{FunctionNameSnake}}-deps && env LOCAL_SERVER=YES AWS_XRAY_CONTEXT_MISSING=LOG_ERROR node -r dotenv/config debug.js dotenv_config_path=../.env",
        "code-scan": "bash sonarqube-scanner.sh"
    },
    "license": "MIT",
    "private": true,
    "dependencies": {
        "debug": "^4.1.1"
    },
    "devDependencies": {
        "dotenv": "8.2.0",
        "simplify-sdk": "^0.1.31",
        "aws-sdk": "^2.713.0",
        "adm-zip": "^0.4.16",
        "@babel/cli": "^7.10.4",
        "@babel/core": "^7.10.4",
        "@babel/node": "^7.10.4",
        "@babel/preset-env": "^7.10.4",
        "@babel/register": "^7.10.4",
        "license-checker-webpack-plugin": "^0.1.5",
        "babel-loader": "^8.1.0",
        "file-loader": "^6.0.0",
        "webpack": "^4.43.0",
        "webpack-cli": "^3.3.12",
        "webpack-node-externals": "^2.3.0"
    }
}
