{
    "name": "{{FunctionNameSnake}}",
    "version": "0.1.0",
    "description": "Remote Function Execution For {{#Servers}}{{ServerName}}{{#hasMore}}, {{/hasMore}}{{/Servers}}",
    "main": "app.js",
    "scripts": {
        "resource-deploy": "env DEPLOYMENT_ENV={{ENV_Name}} node .simplify-graphql/function-resource.js --input function-input.json",
        "resource-destroy": "env DEPLOYMENT_ENV={{ENV_Name}} node .simplify-graphql/function-resource.js --input function-input.json --deletion",
        "push-config": "env DEPLOYMENT_ENV={{ENV_Name}} node .simplify-graphql/function-push.js --ops update",
        "push-code": "env DEPLOYMENT_ENV={{ENV_Name}} env FUNCTION_SOURCE=../src node .simplify-graphql/function-push.js",
        "build-code": "echo 'This source is the native Javascript code. No need to compile!'",
        "build-mini": "webpack -p --config webpack.config.js",
        "push-layer": "env DEPLOYMENT_ENV={{ENV_Name}} env LAYER_SOURCE=../layer node .simplify-graphql/layer-push.js",
        "build-layer": "webpack -p --config webpack.config.layer.js",
        "push-deps": "env DEPLOYMENT_ENV={{ENV_Name}} env LAYER_SOURCE=../deps env DEPENDENCIES_PACKAGE={{PROJECT_Name}}-{{ENV_Name}}-{{FunctionName}}-deps node .simplify-graphql/layer-push.js",
        "build-deps": "webpack -p --config webpack.config.deps.js && cd deps/nodejs/node_modules/{{FunctionNameSnake}}-deps && npm link",
        "production": "webpack -p && env LOCAL_SERVER= node build/index.js",
        "development": "webpack --mode development && env LOCAL_SERVER=YES node build/index.js",
        "start": "cd src && npm install && npm link {{FunctionNameSnake}}-deps && env LOCAL_SERVER=YES DEPLOYMENT_STAGE=latest AWS_XRAY_CONTEXT_MISSING=LOG_ERROR node debug.js",
        "code-scan": "bash sonarqube-scanner.sh"
    },
    "license": "MIT",
    "private": true,
    "dependencies": {
        "debug": "^4.1.1"
    },
    "devDependencies": {
        "simplify-sdk": "^0.1.29",
        "aws-sdk": "^2.713.0",
        "adm-zip": "^0.4.16",
        "@babel/cli": "^7.10.4",
        "@babel/core": "^7.10.4",
        "@babel/node": "^7.10.4",
        "@babel/preset-env": "^7.10.4",
        "@babel/register": "^7.10.4",
        "license-checker-webpack-plugin": "^0.1.5",
        "babel-loader": "^8.1.0",
        "file-loader": "^6.0.0",
        "webpack": "^4.43.0",
        "webpack-cli": "^3.3.12",
        "webpack-node-externals": "^2.3.0"
    }
}
